<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}pynder{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
            </head>
        <body style="background: url({{ url_for('static', filename='img/bg/'+currentTheme[2]) }});">

        <div class="container">
            <nav class="navbar navbar-default navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('home') }}" style="text-shadow: 2px 2px 2px #000000;">
                            macefash <sup><span class="label label-default">CNS</span></sup>
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li {% block homeActive %}class="active"{% endblock %}>
                                <a href="{{ url_for('home') }}">vote<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">top<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ url_for('showTop', gender=0) }}">gurls</a></li>
                                    <li><a href="{{ url_for('showTop', gender=1) }}">bwoys</a></li>
                                </ul>
                            </li>
                            <li {% block aboutActive %}class="active"{% endblock %}><a href="{{ url_for('about') }}">about</a></li>
                        </ul>

                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control input-sm" id="{{ currentTheme[0] }}-search" maxlength="40" placeholder="coming *sometime">
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm" id="{{ currentTheme[0]}}-search">search</button>
                        </form>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">gender<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li{% if currentGender==False %} class="active"{% endif %}>
                                        <a href="{{ url_for('setGender', gender=0) }}">gurls ({{ genderCount[False] }})</a>
                                    </li>
                                    <li{% if currentGender==True %} class="active"{% endif %}>
                                        <a href="{{ url_for('setGender', gender=1) }}">bwoys ({{ genderCount[True] }})</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">theme<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for theme in themes %}
                                        <li{% if theme.name == currentTheme[0] %} class="active"{% endif %}>
                                            <a href="{{ url_for('setTheme', theme=theme.name) }}">{{ theme.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">more<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ url_for('genderHelp') }}">help us identify genders</a></li>
                                    <li><a href="{{ url_for('showAll') }}">browse all entries</a></li>
                                    <li><a href="{{ url_for('showVotes') }}">browse all votes</a></li>
                                    <li><a href="{{ url_for('login') }}"><strong>take my picture down</strong></a></li>
                                    <li><a href="http://www.github.com/harababurel/macefash" target="_blank">contribute to this project</a></li>
                                </ul>
                            </li>

                            <li class="navbar-text">
                                <span class="badge">{{ totalVotes if totalVotes else "???" }}</span>
                                votes from
                                <span class="badge">{{ uniqueVoters if uniqueVoters else "???" }}</span>
                                voters.
                                {% if userIP %}
                                    <br>
                                    <small>(connected as: {{ userIP }})</small>
                                {% endif %}
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

            {% block content %}
            {% endblock %}

            <br>

            <div class="col-md-3"></div>
            <div class="col-md-6" style="border-top: 1px solid #{% if currentTheme[0] == 'Cyborg' %}555{% else %}ccc{% endif %};">
                <p class="text-center">
                    developed late at night by a team of <i>highly</i> trained
                    <strong><a href="https://www.youtube.com/watch?v=6Jz0JcQYtqo" target="_blank">tarsiers</a></strong><br>
                    <strong><a href="{{ url_for('legal') }}">is this legal?</a></strong>
                </p>
            </div>
            <div class="col-md-3"></div>
      </body>
</html>
