<html>
  <head>
    <link rel="stylesheet" href="static/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  </head>
  <body>

    <br><br>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron" style="padding: 20px 20px 50px 50px;">
          <center><img src="static/screen-shot-2014-02-10-at-11-45-07-am.png">
            <p><a class="btn btn-danger btn-lg" href="{{ url_for('login') }}" role="button">Log in now</a></p>
    </center>
        </div>
      </div>
    </div>
  </body>
</html>
