<html>
    <head>
        <link rel="stylesheet" href="static/login.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    </head>

    <body>

        <div class="container">
            <div class="login-container">
                    <div id="output"></div>
                    <div class="avatar"></div>
                    <div class="form-box">
                        <form action="/login" method="post">
                            <input name="username" type="text" placeholder="username">
                            <input name="password" type="password" placeholder="password">
                            <button class="btn btn-info btn-block login" type="submit">Login</button>
                        </form>
                    </div>
                </div>

        </div>
