.container {
    width:800px;
    height:400px;
    padding:20px;
    border:1px solid gray;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  background: black;
}
.image-slider-wrapper {
    overflow: hidden;
}
#image_slider {
    position: relative;
    overflow: hidden;
    height: 280px;
    padding:0;
    left:0;
}
#image_slider li {
    position:relative;
    max-width: 100%;
    float:left;
    list-style: none;
    left: 0;
}
